
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busan Corona</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
</head>
<ul class="nav nav-tabs">
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'home' %}" style="color: black;"><strong>부산 코로나 현황</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'menu1' %}">0302 busan_div.html</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'menu2' %}">0305 busan_Total.html</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'menu3' %}">0306 busan.html</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'menu4' %}">other</a>
  </li>
</ul>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    </body>
    </html>